// .pop-header {
//   border-bottom: 1px solid var(--adm-border-color);
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 12px 16px;
//   font-size: 32px;
//   color: blue;
// }
.pop-body {
}

.pop-header {
  text-align: center;
  font-size: 32px;
  padding: 16px 16px;
  font-weight: bold;
}

.pop-footer {
  display: flex;
  justify-content: space-between;
  padding: 24px 32px;
}

.adm-checkbox .adm-checkbox-icon {
  border-radius: 0;
}
